# ---------- 选择烧录器 ----------
# source [find interface/stlink.cfg]
source [find interface/jlink.cfg]
transport select swd

# ---------- 选择芯片型号 ----------
source [find target/stm32f4x.cfg]
# source [find target/stm32H7x.cfg]